@import _fonts.css;

:root {
    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --color-primary: #ffffd3;
    --color-secondary: #c4ff61;
    --color-text-green: #2db100;
}

body {
    font-family: var(--font-family-primary);
    text-color: #000;
}
