html,
#root {
    height: 100vh;
}
html,
body {
    overflow-x: hidden;
}

body {
    text-color: #000;
    min-width: 360px;
    height: 100vh;
    margin: 0 auto;
}
#navbar::-webkit-scrollbar {
    width: 8px;
}

#navbar::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.05);
}

#navbar::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.16);
    border-radius: 4px;
}
