@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Regular.woff');
}
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Medium.woff');
}
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-SemiBold.woff');
}
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Bold.woff');
}
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.woff');
}

html,
#root {
    height: 100vh;
}

body {
    text-color: #000;
    min-width: 360px;
    height: 100vh;
    margin: 0 auto;
}
